{% extends "navbar.html" %}
{% block subtitle %} - Registrar{% endblock subtitle %}
{% block page_content %}
<div class="col-4 offset-4">
    <div class="card mb-5 text-white bg-dark">
        <div class="card-header text-center">
            <h2 class="m-0">Registrar</h2>
        </div>
        <div class="card-body">
            <form method="POST">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.firstname.label }}:
                    {{ form.firstname(class="form-control", placeholder="Introduzca su nombre") }}
                </div>
                <div class="form-group">
                    {{ form.lastname.label }}:
                    {{ form.lastname(class="form-control", placeholder="Introduzca sus apellidos") }}
                </div>
                <div class="form-group">
                    {{ form.username.label }}:
                    {{ form.username(class="form-control", placeholder="Introduzca su usuario") }}
                </div>
                <div class="form-group">
                    {{ form.email.label }}:
                    {{ form.email(class="form-control", placeholder="Introduzca su correo electrónico") }}
                </div>
                <div class="form-group">
                    {{ form.password.label }}:
                    {{ form.password(class="form-control", placeholder="Introduzca su contraseña") }}
                </div>
                <div class="form-group">
                    {{ form.password2.label }}:
                    {{ form.password2(class="form-control", placeholder="Repita su contraseña") }}
                </div>
                {{ form.submit(class="btn btn-outline-light btn-block") }}
            </form>
        </div>
    </div>
</div>
{% endblock page_content %}