{% extends "navbar.html" %}
{% block page_content %}
<div class="col-8 offset-2">
    <div class="card bg-dark text-light">
        <div class="card-header text-center">
            <h2 class="m-0">Perfil</h2>
        </div>
        <div class="card-body">
            <div><strong>Nombre:</strong> {{ current_user.firstname }}</div>
            <div><strong>Apellidos:</strong> {{ current_user.lastname }}</div>
            <div><strong>Nombre de Usuario:</strong> {{ current_user.username }}</div>
            <div><strong>Email:</strong> {{ current_user.email }}</div>
        </div>
        <div class="card-footer">
            <a href="{{ url_for('auth.edit_profile') }}" class="btn btn-block btn-outline-light">Editar Perfil</a>
        </div>
    </div>
</div>
{% endblock page_content %}