{% extends "navbar.html" %}
{% block subtitle %} - Estados{% endblock subtitle %}
{% block page_content %}
<div class="col-8 offset-2">
    <div class="card mb-2 text-white bg-dark">
        <div class="card-header text-center">
            <h2 class="m-0">Lista de Estados</h2>
        </div>
    </div>
    {% for state in states %}
    <div class="card mb-2 text-white bg-dark">
        <div class="card-header text-center">
            <h4 class="m-0">{{ state.name }}</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div>
                        <strong>Rol:</strong>
                        {% for req in state.roles %}
                        {{ req.name }}
                        {% endfor %}
                    </div>
                    <div>
                        <strong>Documentos a Subir:</strong>
                        {% for doc in state.need_uploaded %}
                        {{ doc.name }}
                        {% endfor %}
                    </div>
                    <div>
                        <strong>Documentos a revisar:</strong>
                        {% for doc in state.need_checked %}
                        {{ doc.name }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-12">
                    <a href="{{ url_for('state.edit', id=state.id) }}" class="btn btn-block btn-outline-light">Editar Estado</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="mb-3">&nbsp;</div>
</div>
{% endblock page_content %}