{% extends "navbar.html" %}
{% block subtitle %} - Inicio{% endblock subtitle %}
{% block page_content %}
<div class="card text-light bg-dark">
    <div class="card-header">
        <h2 class="m-0">Listado de Viajes actuales</h2>
        
        <section>
        <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    {% for travel in _user.travels %}
                    <li class="list-group-item bg-dark">{{ travel.name }}</li>
                    <button type="button" href="localhost:5000/travel" class="btn btn-success">Consultar</button>   
                    {% endfor %}
                </ul>
              </div>
        </section>
</div>
{% endblock page_content %}