{% extends "navbar.html" %}
{% block subtitle %} - Viaje{% endblock subtitle %}
{% block page_content %}
<div class="row">
    <div class="col-8">
        <div class="mb-0 h1">{{ travel.name }}</div>
        {% if current_user.id != travel.user.id %}
        <div class="mb-0 ml-4"><strong>Usuario:</strong> <span class="badge badge-pill badge-dark">{{ travel.user }}</span></div>
        {% endif %}
    </div>
    <div class="col-4">
        <div class="row">
            <div class="col-12">
                {% if travel.accepted %}
                    <span class="badge badge-pill badge-success w-100 mr-2"><strong>Estado:</strong> Aceptado</span>
                {% elif travel.rejected %}
                    <span class="badge badge-pill badge-danger w-100 mr-2"><strong>Estado:</strong> Rechazado</span>
                {% elif travel.cancelled %}
                    <span class="badge badge-pill badge-danger w-100 mr-2"><strong>Estado:</strong> Cancelado</span>
                {% else %}
                <span class="badge badge-pill badge-info w-100 mr-2"><strong>Estado:</strong> En Proceso</span>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <span class="badge badge-pill badge-dark mt-1 w-100"><strong>Salida:</strong> {{ travel.departure_date }}
                    <i class="fas fa-calendar-alt"></i>
                </span>
                <span class="badge badge-pill badge-dark mt-1 w-100"><strong>Duración:</strong> {{ travel.duration }} días</span>
            </div>
            <div class="col-6">
                <span class="badge badge-pill badge-dark mt-1 w-100"><strong>Concepto:</strong> {{ travel.concept }}</span>
                <span class="badge badge-pill badge-dark mt-1 w-100"><strong>Destino:</strong> {{ travel.country }}</span>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12">
        <div class="card mb-2">
            <div class="card-header"><strong>Documentos</strong></div>
            <div class="card-body">
                {% for document in travel.documents %}
                    <div class="row mb-1">
                        <div class="col-{% if travel.accepted or travel.rejected or current_user.id != document.user.id %}12{% else %}10{% endif %}">
                            {% if document.confirmed %}
                            <a href="{{ url_for('static', filename=document.path) }}" class="btn btn-block btn-outline-success">{{ document.name }}
                                <span class="badge badge-pill badge-success">{{ document.document_type }}</span>
                                <span class="badge badge-pill badge-success">Confirmado</span>
                            </a>
                            {% else %}
                            <a href="{{ url_for('static', filename=document.path) }}" class="btn btn-block btn-outline-danger">{{ document.name }}
                                <span class="badge badge-pill badge-danger">{{ document.document_type }}</span>
                                <span class="badge badge-pill badge-danger">No Confirmado</span>
                            </a>
                            {% endif %}
                        </div>
                        {% if not travel.accepted and not travel.rejected and current_user.id == document.user.id %}
                        <div class="col-2">
                            <a href="{{ url_for('document.edit', id=document.id) }}" class="btn btn-block btn-outline-dark">Editar</a>
                        </div>
                        {% endif %}
                    </div>
                {% endfor %}
                {% if not travel.documents.first() %}
                <div class="h4 m-0 text-center">El viaje no contiene documentos</div>
                {% endif %}
            </div>
        </div>
        {% if need_checkeds %}
        <div class="card mb-2">
            <div class="card-header"><strong>Documentos que se tienen que chequear en el estado actual:</strong> 
                {% for need_checked in need_checkeds %}
                {{ need_checked.name }}{% if loop.index != loop.length %}, {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if need_uploadeds %}
        <div class="card mb-2">
            <div class="card-header"><strong>Documentos que se tienen que subir en el estado actual:</strong> 
                {% for need_uploaded in need_uploadeds %}
                {{ need_uploaded.name }}{% if loop.index != loop.length %}, {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="card mb-2">
            <div class="card-header h4"><strong>Escribir comentario</strong></div>
            <form method="POST">
                {{ form.csrf_token }}
                <div class="card-body">
                    {{ form.text(class="form-control") }}
                </div>
                <div class="card-footer">
                    {{ form.submit(class="btn btn-outline-dark btn-block") }}
                </div>
            </form>
        </div>
        {% if travel.comments.first() %}
        <div class="card mb-2">
            <div class="card-header h4"><strong>Comentario</strong></div>
        </div>
        {% for comment in comments %}
        <div class="card mb-2">
            <div class="card-body"><strong>{% if comment.user.id == current_user.id %}Yo{% else %}{{ comment.user }}{% endif %}:</strong> {{ comment.text }}</div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="mb-3">&nbsp;</div>
</div>
{% endblock page_content %}