{% extends "navbar.html" %}
{% block subtitle %} - Ver Nodo{% endblock subtitle %}
{% block page_content %}
<div class="col-8 offset-2">
    <div class="card mb-2 text-white bg-dark">
        <div class="card-header text-center">
            <h3 class="m-0">{{ workflow.name }}</h3>
        </div>
        <div class="card-body">
            {% if workflow.next %}
            <div><strong>Siguiente:</strong> <a href="{{ url_for('.view_workflow', id=workflow.next.id) }}" class="text-light">{{ workflow.next }}</a></div>
            {% endif %}
            {% if workflow.role %}
            <div><strong>Rol:</strong> {{ workflow.role }}</div>
            {% endif %}
            <div>
                {% if workflow.requirements.first() %}
                <strong>Requerimientos:</strong> 
                {% for requirement in workflow.requirements.all() %}
                    {{ requirement.name }}{% if loop.index != loop.length %}, {% endif %}
                {% endfor %}
                {% endif %}
            </div>
            <div>
                {% if workflow.countries.first() %}
                <strong>Países:</strong> 
                {% for country in workflow.countries.all() %}
                    {{ country.name }}{% if loop.index != loop.length %}, {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <a href="{{ url_for('workflow.edit_workflow', id=workflow.id) }}" class="btn btn-block btn-dark">Editar Nodo</a>
        </div>
        <div class="col-5">
            <a href="{{ url_for('workflow.append_workflow', id=workflow.id) }}" class="btn btn-block btn-dark">Insertar Nodo a Continuación</a>
        </div>
        <div class="col-4">
            <a href="{{ url_for('workflow.graph_workflow', id=workflow.id) }}" class="btn btn-block btn-dark">Ver Workflow</a>
        </div>
    </div>
</div>
{% endblock page_content %}