{% extends "navbar.html" %}
{% block subtitle %} - Workflows{% endblock subtitle %}
{% block page_content %}
<div class="col-8 offset-2">
    <div class="card mb-2 text-white bg-dark">
        <div class="card-header text-center">
            <h2 class="m-0">Workflows</h2>
        </div>
    </div>
    {% for workflow in workflows %}
    <div class="card mb-2 text-white bg-dark">
        <div class="card-header text-center">
            <h4 class="m-0">{{ workflow.name }}</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    {% if workflow.next %}
                    <div><strong>Siguiente:</strong> <a href="{{ url_for('workflow.view', id=workflow.next.id) }}" class="text-light">{{ workflow.next }}</a></div>
                    {% endif %}
                    {% if workflow.role %}
                    <div><strong>Rol:</strong> {{ workflow.role }}</div>
                    {% endif %}
                    <div>
                        {% if workflow.requirements.first() %}
                        <strong>Requerimientos:</strong> 
                        {% for requirement in workflow.requirements.all() %}
                            {{ requirement.name }}{% if loop.index != loop.length %}, {% endif %}
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div>
                        {% if workflow.countries.first() %}
                        <strong>Países:</strong> 
                        {% for country in workflow.countries.all() %}
                            {{ country.name }}{% if loop.index != loop.length %}, {% endif %}
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-2">
                    <a href="{{ url_for('workflow.view', id=workflow.id) }}" class="btn btn-block btn-outline-light">Ver Nodo</a>
                </div>
                <div class="col-2">
                    <a href="{{ url_for('workflow.edit', id=workflow.id) }}" class="btn btn-block btn-outline-light">Editar Nodo</a>
                </div>
                <div class="col-5">
                    <a href="{{ url_for('workflow.append', id=workflow.id) }}" class="btn btn-block btn-outline-light">Insertar Nodo a Continuación</a>
                </div>
                <div class="col-3">
                    <a href="{{ url_for('workflow.graph', id=workflow.id) }}" class="btn btn-block btn-outline-light">Ver Workflow</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="mb-3">&nbsp;</div>
</div>
{% endblock page_content %}