{% from "macros/approve.html" import travel_info with context %}
{% extends "navbar.html" %}
{% block subtitle %} - Aprovación{% endblock subtitle %}
{% block page_content %}
<div class="col-6 offset-3">
    <div class="card bg-dark text-light mb-2">
        <div class="card-header text-center">
            <h2 class="m-0">Administrar Viajes</h2>
        </div>
    </div>
    {% for travel in travels %}
        <div class="mb-2">
            {{ travel_info(travel) }}
        </div>
    {% endfor %}
</div>
{% endblock %}