{% from "macros/approve.html" import travel_info with context %}
{% extends "navbar.html" %}
{% block subtitle %} - Aprovación{% endblock subtitle %}
{% block page_content %}
<div class="row">
    <div class="col-10 offset-1">
        <div class="card text-light bg-dark mb-2">
            <div class="card-header text-center">
                <div class="h2 m-0">Estado del viaje: <a class="text-light" href="{{ url_for('travel.get', id=travel.id) }}"><u>{{ travel.name }}</u></a></div>
            </div>
            <div class="card-body">
                <div><strong>Usuario:</strong> {{ travel.user }}</div>
                <div><strong>País:</strong> {{ travel.country }}</div>
                <div>
                    {% if travel.state.need_checked.first() %}
                    <strong>Documentos a Revizar:</strong> 
                    {% for document_type in travel.state.need_checked.all() %}
                        {{ document_type.name }}{% if loop.index != loop.length %}, {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
                <div>
                    {% if travel.state.need_uploaded.first() %}
                    <strong>Documentos a Subir:</strong> 
                    {% for document_type in travel.state.need_uploaded.all() %}
                        {{ document_type.name }}{% if loop.index != loop.length %}, {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card text-light bg-dark mb-2">
            <div class="card-header text-center">
                <div class="h4 m-0">Documentos</div>
            </div>
            <form method="POST">
                <div class="card-body text-center">
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" name="accept_travel" id="accept_travel" {% if travel.confirmed_in_state %} checked {% endif %}>
                        <label class="form-check-label ml-2 h5" for="accept_travel"><strong>Autorización</strong></label>
                    </div>
                    <h3>Documentos a Revizar</h3>
                    {% for document in to_check_documents %}
                    <div class="form-check mb-1">
                        <input class="form-check-input" type="checkbox" value="{{ document.id }}" name="confirmed_check_docs" id="{{ 'cb' + document.id.__str__() }}" {% if document.confirmed %} checked {% endif %} >
                        <label class="form-check-label ml-2" for="{{ 'cb' + document.id.__str__() }}">{{ document.name }} <span class="badge badge-pill badge-light">{{ document.document_type.name }}</span></label>
                        <a class="btn btn-sm btn-outline-light ml-2" href="{{ url_for('static', filename=document.path) }}">Ver Documento</a>
                    </div>
                    {% endfor %}
                    {% if not to_check_documents %}
                        <span class="badge badge-pill badge-light mb-2">No existen documentos a revizar</span>
                    {% endif %}
                    <h3>Documentos Añadidos</h3>
                    {% for document in to_upload_documents %}
                    <div class="form-check mb-1">
                        <input class="form-check-input" type="checkbox" value="{{ document.id }}" name="confirmed_upload_docs" id="{{ 'cb' + document.id.__str__() }}" {% if document.confirmed %} checked {% endif %} >
                        <label class="form-check-label ml-2" for="{{ 'cb' + document.id.__str__() }}">{{ document.name }} <span class="badge badge-pill badge-light">{{ document.document_type.name }}</span></label>
                        <a class="btn btn-sm btn-outline-light ml-2" href="{{ url_for('static', filename=document.path) }}">Ver Documento</a>
                        <a class="btn btn-sm btn-outline-light ml-2" href="{{ url_for('document.edit_auth', id=document.id) }}">Editar</a>
                    </div>
                    {% endfor %}
                    {% if not to_upload_documents %}
                        <span class="badge badge-pill badge-light mb-2">No existen documentos a revizar por subir</span>
                    {% endif %}
                </div>
                <div class="card-footer">
                    {% if travel.state.need_uploaded.first() %}
                    <div class="row mb-3 mt-1">
                        <div class="col-12">
                            <a href="{{ url_for('document.decide', id=travel.id) }}" class="btn btn-outline-light btn-block">Subir Documento</a>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-6">
                            <button type="submit" class="btn btn-outline-success btn-block">Aceptar cambios</button>
                        </div>
                        <div class="col-6">
                            <a href="{{ url_for('approve.reject_travel', id=travel.id) }}" class="btn btn-outline-danger btn-block">Rechazar Viaje</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}