{% extends "navbar.html" %}
{% block subtitle %} - Editar Documento{% endblock subtitle %}
{% block page_content %}
<div class="col-4 offset-4">
    <div class="card mb-5 text-white bg-dark">
        <div class="card-header text-center">
            <h2 class="m-0">Editar Documento</h2>
        </div>
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data" >
                {{ form.csrf_token }}
                <div class="form-group">
                <div class="form-group">
                    {{ form.file.label }}:
                    {{ form.file(class="form-control-file") }}
                </div>
                {{ form.submit(class="btn btn-outline-light btn-block") }}
            </form>
        </div>
    </div>
</div>
{% endblock page_content %}