{% extends "navbar.html" %}
{% block subtitle %} - Documentos{% endblock subtitle %}
{% block page_content %}
<div class="col-8 offset-2">
    <div class="card mb-2 text-white bg-dark">
        <div class="card-header text-center">
            <h2 class="m-0">Documentos</h2>
        </div>
    </div>
    {% for document in documents %}
    <div class="card mb-2 text-white bg-dark">        
        <div class="card-footer">
            <div class="row">
                <div class="card-header text-center">
                    <h4 class="m-0">{{ document.name }}</h4>
                </div>
                <div class="col-12">
                    <a href="{{ url_for('document.show', id=document.id) }}"class="btn btn-block btn-outline-light">Ver Documento</a>
                </div>
                <div class="col-12">
                    <a href="{{ url_for('document.edit', id=document.id) }}" class="btn btn-block btn-outline-light">Editar Documento</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% if not documents %}
    <div class="h3 mt-4 text-center">No tiene Documentos</div>
    {% endif %}
    <div class="mb-3">&nbsp;</div>
</div>
{% endblock page_content %}