{% extends "base.html" %}
{% block body_content %}
    {% block header %} {% endblock header %}
    {% block navbar %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">Viajes UH</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>  
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.index') }}">Inicio</a>
                </li>
                {% if current_user.is_authenticated and current_user.have_decissions() %}
                <li class="nav-item">
                    <a href="{{ url_for('approvement.approve_travels') }}" class="nav-link">Administrar Viajes</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav align-content-end">
                {% if current_user.is_authenticated %}
                <li class="nav-item dropdown">
                    <button class="btn btn-outline-light dropdown-toggle" href="#" id="dropdownUserInfo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-circle mr-1"></i>
                        {{ current_user.username }} 
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownUserInfo">
                        <a class="dropdown-item" href="{{ url_for('main.create_travel') }}">
                            <i class="fas fa-route mr-1"></i>
                            Crear Viaje
                        </a>
                        <a class="dropdown-item" href="{{ url_for('main.upload_document') }}">
                            <i class="fas fa-upload mr-1"></i>
                            Subir Documento
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url_for('auth.logout') }}">
                            <i class="fas fa-sign-out-alt mr-1"></i>
                            Cerrar Sesión
                        </a>
                    </div>
                </li>
                {% else %}
                <a class="btn btn-outline-light" href="{{ url_for('auth.login') }}">
                    <i class="fas fa-sign-in-alt mr-1"></i>
                    Iniciar Sesión
                </a>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% endblock navbar %}
    {% block content %}
    <main role="main" class="container-fluid">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button> {{ message }}
        </div>
        {% endfor %}
        {% block page_content %} {% endblock page_content %}
    </main>
    {% endblock content %}
    {% block footer %} {% endblock footer %}
{% endblock body_content %}