{% extends "navbar.html" %}
{% block subtitle %} - Viaje{% endblock subtitle %}
{% block page_content %}
<div class="col-8 offset-2">
    <div class="card mb-2 text-white bg-dark">
        <div class="card-header text-center">
            <h3 class="m-0">{{ travel.name }}</h3>
        </div>
        <div class="card-body">
            <div><strong>Fecha de Salida:</strong> {{ travel.departure_date }}</div>
            <div><strong>Duración:</strong> {{ travel.duration }} día(s)</div>
            <div><strong>Concepto:</strong> {{ travel.concept }}</div>
            <div><strong>País:</strong> {{ travel.country }}</div>
            <div>
                {% if travel.documents.first() %}
                <strong>Documentos:</strong> 
                {% for document in travel.documents.all() %}
                    {{ document.name }}{% if loop.index != loop.length %}, {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="card-footer">
            <h5 class="m-0"><strong>Estado:</strong> 
                {% if travel.accepted %}
                    <span class="text-success">Aceptado</span>
                {% elif travel.rejected %}
                    <span class="text-danger">Rechazado</span>
                {% else %}
                <span class="text-info">En Proceso</span>
                {% endif %}
            </h5>
        </div>
    </div>
</div>
{% endblock page_content %}