{% extends "navbar.html" %}
{% block subtitle %} - Mis Viajes{% endblock subtitle %}
{% block page_content %}
<div class="col-8 offset-2">
    <div class="card mb-2 text-white bg-dark">
        <div class="card-header text-center">
            <h2 class="m-0">Mis Viajes</h2>
        </div>
    </div>
    {% for travel in travels %}
    <div class="card mb-2 text-white bg-dark">
        <div class="card-header text-center">
            <h4 class="m-0">{{ travel.name }}</h4>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-12">
                    <a href="{{ url_for('main.get_travel', id=travel.id) }}" class="btn btn-block btn-outline-light">Ver Viaje</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="mb-3">&nbsp;</div>
</div>
{% endblock page_content %}