{% extends "navbar.html" %}
{% block subtitle %} - Inicio{% endblock subtitle %}
{% block page_content %}
<div class="card text-light bg-dark">
    <div class="card-header">
        <h2 class="m-0">Listado de Viajes Actuales</h2>
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
                {% for travel in travels %}
                <li class="list-group-item bg-dark">{{ travel.name }}</li>
                <a href="{{ url_for('main.get_travel', id=travel.id) }}" class="btn btn-success">Consultar</a>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock page_content %}